body {
  background-color: #e7e3e0 !important;
}

.wrapper {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing {
  height: 100vh;
  color: lightgray;
  background: white url("assets/phishing-landing.jpg");
  background-size: cover;
  font-size: 100px;
}

.spinner {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}