/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.home, .about, .pricing, .chat, .login {
  padding: 2rem;
  text-align: center;
}
.App {
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-container,
.register-container,
.activate-container,
.create-corporate-detail-container,
.create-subscription-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
